<div class="container color-dark">
  <div class="col">
    <p>Programming exercise - Routing of
      telephone calls</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Need to fine the cheapest opertor ?</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="enter phone number..." [(ngModel)]="phoneNumber">
      <br> <span>{{errorText}}</span>
      <input type="submit" class="btn" value="check price" (click)="checkCheapestOperator()">
    </form>
  </div>

</div>


<div class="container color-dark">
  <div class="col">
    <p>Operator A</p>
  </div>
  <div class="col">
    <p>Operator B</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <div *ngFor="let item of operatorA; let i = index">
      <p class="operator-container">
        Prefix : {{item.numberPrefix}} - {{item.cost}} ₹
      </p>
    </div>
  </div>
  <div class="col">
    <div *ngFor="let item of operatorB; let i = index">
      <p class="operator-container">
        Prefix : {{item.numberPrefix}} - {{item.cost}} ₹
      </p>
    </div>
  </div>
</div>
<div class="container color-dark">
  <div class="col">
    <p>add cost</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">add new values here!</p>
    <form>
      <input type="number" class="txt" name="item" placeholder="enter new prefix" [(ngModel)]="newPrefix">
      <input type="number" class="txt" name="item" placeholder="enter new cost" [(ngModel)]="newCost">
      <input id="operatorA" class="radio" type="radio" name="operatorType" [(ngModel)]="operatorType" value="a" checked>
      <label for="operatorA">Operator A</label>
      <input id="operatorB" class="radio" type="radio" name="operatorType" [(ngModel)]="operatorType" value="b"> <label
        for="operatorB">Operator B</label>
      <input type="submit" class="btn" value="add cost" (click)="saveNewCost()">
    </form>
  </div>
</div>